@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Urbanist', sans-serif; 
    overflow-x: hidden; 
}

header{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    /* position: sticky; */                               /* Barra de navegacion acompaña en toda la pagina */
    /* top: 0; */                                         /* Sin esta propiedad, tampoco funciona navbar sticky */
}

nav{
    background-color: #FCEFE4;
}

svg{
    color: black;
}


.nav-link:hover, .dropdown-item:hover{
    color: goldenrod !important;
}

/*********** main ***********/

main{
    font-family: 'Urbanist', sans-serif;
}

.d-item{
    height: 490px;
}

.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.carousel-content{
    margin-top: 7rem;
}

.carousel-content p, .carousel-content button{
    color:  goldenrod;
}

.carousel .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

/**** quienes somos ****/ 

.container-main-title{
    margin-top: 6rem;
    display: grid;
    /* justify-content: center; */
    grid-template-rows: 4rem 6rem 4rem 5rem 4rem 6rem; 
    grid-template-columns: repeat(2,36rem);
    grid-template-areas: 
    "image fst-title"
    "image fst-subtitle"
    "image snd-title"
    "image snd-subtitle"
    "image thr-title"
    "image thr-subtitle";
}

.fst-title{
    grid-area: fst-title;                                
}

.fst-subtitle{
    grid-area: fst-subtitle;                                         
}

.snd-title{
    grid-area: snd-title;                                
}

.snd-subtitle{
    grid-area: snd-subtitle;                                         
}

.thr-title{
    grid-area: thr-title;                                
}

.thr-subtitle{
    grid-area: thr-subtitle;                                         
}

.fst-title h2, .snd-title h2, .thr-title h2{
    color: goldenrod;
    font-size: 2.2rem;
}

.fst-subtitle h3, .snd-subtitle h3, .thr-subtitle h3{
    font-size: 1.2rem;
    padding-left: 0.8rem;
}

.main-image{
    grid-area: image;  
}

.main-image img{
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
}

