@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Urbanist', sans-serif; 
    overflow-x: hidden; 
}

header{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    position: sticky;                                /* Barra de navegacion acompaña en toda la pagina */
    top: 0;                                          /* Sin esta propiedad, tampoco funciona navbar sticky */
    z-index: 2;
}

nav{
    background-color: #FCEFE4;
}

svg{
    color: black;
}


.nav-link:hover, .dropdown-item:hover{
    color: goldenrod !important;
}

/*********** main ***********/

main{
    font-family: 'Urbanist', sans-serif;
}

.d-item{
    height: 490px;
}

.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.carousel-content{
    margin-top: 7rem;
}

.carousel-content p, .carousel-content button{
    color:  goldenrod;
}

.carousel-titulo-color{
    color:  goldenrod;
    font-weight: lighter;

}

.carousel .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

/**** quienes somos ****/ 

.container-main-title{
    margin-top: 6rem;
    display: grid;
    justify-content: center;
    grid-template-rows: 4rem 6rem 4rem 5rem 4rem 6rem; 
    grid-template-columns: 32rem 36rem;
    grid-template-areas: 
    "image fst-title"
    "image fst-subtitle"
    "image snd-title"
    "image snd-subtitle"
    "image thr-title"
    "image thr-subtitle";
}

.fst-title{
    grid-area: fst-title;                                
}

.fst-subtitle{
    grid-area: fst-subtitle;                                         
}

.snd-title{
    grid-area: snd-title;                                
}

.snd-subtitle{
    grid-area: snd-subtitle;                                         
}

.thr-title{
    grid-area: thr-title;                                
}

.thr-subtitle{
    grid-area: thr-subtitle;                                         
}

.fst-title h2, .snd-title h2, .thr-title h2{
    color: goldenrod;
    font-size: 2.2rem;
}

.fst-subtitle h3, .snd-subtitle h3, .thr-subtitle h3{
    font-size: 1.2rem;
    padding-left: 0.8rem;
}

.main-image{
    grid-area: image;  
}

.main-image img{
    width: 26rem;
    height: 26rem;
    border-radius: 100%;
    border-left: 0.5rem;
}

.container-sponsors {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5.5rem;
    margin-top: 4.5rem; 
}

/*** carrousel con cards ***/
.card{
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.carousel-inner{
    padding: 1em;
}

.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev span, .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
}






.container-exclusive{
    height: 34rem;                              
    background-image: url("../assets/img/index/main/exclusive-1.jpg");
    background-position: center; 
    background-size: cover;                              
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 60rem;
    grid-template-rows: 3rem repeat(3,4rem) 6rem;
    padding-left: 3.5rem;
    padding-right: 4rem;
    object-fit: cover; 
    filter: brightness(0.5);
    align-content: center; 
    margin-top: 4rem;
}

.exclusive-presented{
    color: gold;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    order: 1;  
}

.exclusive-first-class{
    color: goldenrod;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    order: 2;  
    font-size: 1.6rem;                                 
}

.exclusive-secret{
    color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    order: 3;
    font-size: 2.2rem;
}

.exclusive-refined{
    color: white;
    font-size: 1.6rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    order: 4;                                   
}

/****************************** footer ******************************/

footer{
    background-color: #FCEFE4;
}

.container-newsletter{
    height: 9rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 30rem);
    grid-template-rows: 2rem 5rem;
    grid-template-areas: 
    "recibi          form"
    "suscribite      form"; 
}

.container-newsletter p{
    grid-area: recibi;                               
    text-align: left;
}

.container-newsletter h2{
    grid-area: suscribite;                                
    text-align: left;
    font-weight: bolder;
    color: goldenrod;
}

.container-newsletter h3{
    grid-area: form;                                
    justify-content: center;
}

.container-information{
    width: 100%;
    height: 12rem;                             
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    grid-template-rows: 5rem repeat(3, 3rem);
    justify-content: center;
}

.footer-taller{
    height: 17rem; 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;     
    order: 1;                         
}

.footer-taller h2{
    font-size: 1.8rem; 
    color: goldenrod;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer-sale{
    height: 17rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;     
    order: 2;                         
}

.footer-sale h2{
    font-size: 1.8rem; 
    color: goldenrod;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer-sale-contact{
    list-style: none;
    padding-left: 0.1rem;

}

.footer-sale-contact li a{
    text-decoration: none;
}

.footer-sale-contact a span{
    vertical-align: 10%;
}

.footer-information{
    height: 17rem;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;     
    order: 3;                         
}

.footer-information h2{
    font-size: 1.8rem; 
    color: goldenrod;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer-social-networks{
    height: 17rem;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;     
    order: 4;                         
}

.footer-social-networks h2{
    font-size: 1.8rem; 
    color: goldenrod;
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer-redes{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

.footer-redes li{
    list-style: none; 
}

.copyright{
    background-color: #5e5045;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright h6{
    color: white;
    text-align: center;
}
































@media screen and (min-width: 577px){
    .cards-wrapper{
    display: flex;
    }
    .card{
    margin: 0 .5em;
    width: calc(100%/3);
    }
    .image-wrapper{
        height: 24vw;
        margin: 0 auto;
        /*
        display: flex;
        align-items: center;
        justify-content: center; */
        }
}

.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}

.card-text-position{
    text-align: center;
} 

.color-card{
    color: goldenrod; 
}

.carousel-titulo, .button-tienda-position{
    display: flex;
    flex-direction: row;
    justify-content: center;
}







@media screen and (max-width: 576px){
    .card:not(:first-child){
        display: none;
    }
}


