@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Urbanist', sans-serif; 
    overflow-x: hidden; 
}

/****************************** header ******************************/

header{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    position: sticky;                                   /* Barra de navegacion (acompaña en toda la pagina) */
    top: 0;                                          
    z-index: 2;
}

nav{
    background-color: #FCEFE4;
}

svg{
    color: black;
}

.nav-link:hover, .dropdown-item:hover{
    color: goldenrod !important;                     /* Al posicionarse encima de un link, cambia el color de la fuente a dorado */
}

/****************************** index.html ******************************/

/*********** main ***********/

main{
    font-family: 'Urbanist', sans-serif;
}

/*********** carousel principal ***********/

.carousel .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 100%;                               /* Cambio linea horizontal de boton por circulo */
}

.d-item{
    height: 490px;                                     /* Largo del contenedor de las imagenes del carousel principal */
}

.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.carousel-content{
    margin-top: 7rem;
}

.carousel-content p, .carousel-content button{
    color:  goldenrod;
}

/**** subtitulo principal con imagen con borde redondo ****/ 

.container-main-subtitle{
    margin-top: 6rem;
    display: grid;
    justify-content: center;
    grid-template-rows: 4rem 6rem 4rem 5rem 4rem 6rem; 
    grid-template-columns: 32rem 36rem;
    grid-template-areas: 
    "image fst-title"
    "image fst-subtitle"
    "image snd-title"
    "image snd-subtitle"
    "image thr-title"
    "image thr-subtitle";
}

.fst-title{
    grid-area: fst-title;                                
}

.fst-subtitle{
    grid-area: fst-subtitle;                                         
}

.snd-title{
    grid-area: snd-title;                                
}

.snd-subtitle{
    grid-area: snd-subtitle;                                         
}

.thr-title{
    grid-area: thr-title;                                
}

.thr-subtitle{
    grid-area: thr-subtitle;                                         
}

.fst-title h2, .snd-title h2, .thr-title h2{
    color: goldenrod;
    font-size: 2.2rem;
}

.fst-subtitle h3, .snd-subtitle h3, .thr-subtitle h3{
    font-size: 1.2rem;
    padding-left: 0.8rem;
}

.main-image{
    grid-area: image;  
}

.main-image img{
    width: 26rem;
    height: 26rem;
    border-radius: 100%;
    border-left: 0.5rem;
}

/*********** sponsors ***********/

.container-sponsors {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5.5rem;
    margin-top: 4.5rem; 
}

/*********** carrousel con cards ***********/

.carousel-cards-title h3{
    color:  goldenrod;
    font-weight: lighter;
    text-align: center;
}

.carousel-control-prev, .carousel-control-next{
    background-color: goldenrod;
    width: 6vh;
    height: 6vh;
    border-radius: 80%;
    top: 50%;
    /* transform: translateY(-50%); */
}

.carousel-control-prev span, .carousel-control-next span {
    width: 1.5rem;
    height: 1.5rem;
}

.card{
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-card{
    color: goldenrod; 
}

.card-text-position{
    text-align: center;
}

.carousel-inner{
    padding: 1em;
}

.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
}


.button-tienda-position{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/******* contenido exclusivo (linea de harinas) *******/

.exclusive{
    width: 100vw;
    height: 34rem;
    display: flex;
    align-items: center; 
    background: linear-gradient(to right, rgb(0 0 0 / .6), rgb(0 0 0 / .3)), url("../assets/img/index/main/exclusive-1.jpg"); /* efecto texto superpuesto */
    background-position: center; 
    background-size: cover;                              
    background-repeat: no-repeat;
}

.exclusive-text h5{
    color: goldenrod;
}

.exclusive-text h3, .exclusive-text h6{
    color: white;
}

.exclusive-text h4{
    color: gold;
}

/****************************** footer ******************************/

footer{
    background-color: #FCEFE4;
}

.container-newsletter{
    height: 9rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 30rem);
    grid-template-rows: 2rem 5rem;
    grid-template-areas: 
    "recibi          form"
    "suscribite      form"; 
}

.container-newsletter p{
    grid-area: recibi;                               
    text-align: left;
}

.container-newsletter h2{
    grid-area: suscribite;                                
    text-align: left;
    font-weight: bolder;
    color: goldenrod;
}

.container-newsletter h3{
    grid-area: form;                                
    justify-content: center;
}

.container-information{
    width: 100%;
    height: 12rem;                             
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    grid-template-rows: 5rem repeat(3, 2rem);
    justify-content: center;
}

.footer-taller{
    height: 10rem; 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;     
    order: 1;                         
}

.footer-taller h2{
    font-size: 1.8rem; 
    color: goldenrod;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer-sale{
    height: 10rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;     
    order: 2;                         
}

.footer-sale h2{
    font-size: 1.8rem; 
    color: goldenrod;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer-sale-contact{
    list-style: none;
    padding-left: 0.1rem;
}

.footer-sale-contact li a{
    text-decoration: none;
}

.footer-sale-contact li a img{
    width: 1.4rem;
    height: 1.4rem;
}

.footer-sale-contact a span{
    color: black;
    vertical-align: -5%;
}

.footer-information{
    height: 10rem;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;     
    order: 3;                         
}

.footer-information h2{
    font-size: 1.8rem; 
    color: goldenrod;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer-social-networks{
    height: 10rem;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;     
    order: 4;                         
}

.footer-social-networks h2{
    font-size: 1.8rem; 
    color: goldenrod;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer-redes{
    display: flex;
    gap: 1rem;
}

.footer-redes li{
    list-style: none; 
}

.copyright{
    background-color: #5e5045;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright h6{
    color: white;
    text-align: center;
}

/****************************** taller.html ******************************/

.container-taller-title{
    height: 5.5rem;
}

.container-taller-title h1{
    color: goldenrod;
    font-size: 2.5rem;
}

.container-dir{
    height: 8rem;
}

.container-dir h3{
    color: goldenrod;
}

.container-maps{
    height: 26rem;
    display: grid;
    grid-template-columns: repeat(2, 22rem);
    grid-template-rows: repeat(3,3rem) 12rem;
    grid-template-areas: 
    "map    location"
    "map    location"
    "map    location"
    "map    location";
}

.map{
    height: 22rem;
    grid-area: map;                                
}

.location{
    height: 20rem;
    grid-area: location;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.location a{
    color: goldenrod;
}

.whatsapp-ventas{
    font-size: 1.2rem; 
    text-decoration: none;
}

.whatsapp-ventas img{
    width: 2rem;
    height: 2rem;
}

.whatsapp-ventas span{
    color: goldenrod;
    vertical-align: -8%;
}

/****************************** nosotros.html ******************************/

.container-video{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 25rem;
}

.container-video video{
    height: 22rem;
}

.container-espacio{
    height: 40rem;
    display: grid;
    padding-top: 2rem;
    grid-template-columns: repeat(2, 40rem);
    grid-template-rows: 5rem 10rem 12rem;
}

.container-espacio img{
    width: 30rem;
    height: 34rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    padding-left: 8rem;

}

.container-espacio h3{
    font-size: 3rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    color: goldenrod;
}

.container-espacio h5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-weight: inherit;
    color: grey;
}

.container-espacio h6{
    font-size: 1.25rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-weight: inherit;
    color: grey;
}

.container-unique{
    height: 15rem;
}

.unique-title h2{
    text-align: center;
    padding-right: 5rem;
}

.container-elements{
    display: flex;
    padding-top: 1rem;
    gap: 5rem;
}

.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.element h6{
    text-align: center;
    font-weight: inherit;
    color: grey; 
}

/****************************** promociones.html ******************************/

.container-cards{
    margin-top: 1.5rem;
    height: 60rem;
}

.container-three-cards{
    width: 100%;
    height: 26rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;
}

.card{
    background-color: #FCEFE4;
    height: 26rem;
    border-radius: 0.9rem;
    box-shadow: 0 0.02rem 0.02rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 2rem;
    text-align: center;
    transition: all 0.25s;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.card img{
    width: 9rem;
    height: 14rem;
    border-radius: 0.95rem;
}

.card h4{
    margin-top: 0.8rem;
    font-weight: 600;
}

.card p{
    padding: 0.1rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.card p span{
    color: red;
    font-size: 1.3rem;
    padding-left: 0.4rem;
    text-decoration:line-through;
}

/* hasta aca realice cambios */





























/****** media del carousel con cards *****/



@media screen and (min-width: 577px){
    .cards-wrapper{
    display: flex;
    }
    .card{
    margin: 0 .5em;
    width: calc(100%/3);
    }
    .image-wrapper{
        height: 24vw;
        margin: 0 auto;
        /*
        display: flex;
        align-items: center;
        justify-content: center; */
        }
}

@media screen and (max-width: 576px){
    .card:not(:first-child){
        display: none;
    }
}


