$cero: 0;



$main-background: #FCEFE4;
$color-titles: goldenrod;
$color-subtitles: grey;

$color-gold: gold;
$color-white: white;
$color-black: black;
$background-copyright: #5e5045;

$lists-style: none;
