/****************************** footer ******************************/

footer{
    background-color: $main-background;
}

.container-newsletter{
    @include height(9rem);
    @include grid(center, none, repeat(2,30rem), 2rem 5rem);
    grid-template-areas: 
    "recibi form"
    "suscribite form"; 
    p{
        @include gridArea(recibi);                               
        text-align: left;
    }
    h2{
        @include gridArea(suscribite);  
        @include textStyle(2rem, $color-titles, left, bolder);                       
    }
    div{
        @include gridArea(form);                                
        justify-content: center;
    }
}

.container-information{
    @include height(12rem);
    @include width(100%);
    @include grid(center, none, repeat(4, 20rem), 5rem repeat(3, 2rem));
}

.container-information div:first-child{
    @include height(10rem); 
    @include gridLimitElements(1, 2, 1, 5);
    order: 1;     
    h2{
        @include textStyle(1.8rem, $color-titles, left, none);
        @include gridLimitElements(1, 2, 1, 2);
    }
}

.container-information div:nth-child(2){
    @include height(10rem);
    @include gridLimitElements(2, 3, 1, 5);
    order: 2;
    h2{
        @include textStyle(1.8rem, $color-titles, left, none);
        @include gridLimitElements(2, 3, 1, 2);
    }
    ul{
        list-style: $lists-style;
        @include padding(none, none, 0.1rem, none);
        li a{
            text-decoration: none;
            img{
                @include height(1.4rem);
                @include width(1.4rem);
            }
            span{
                color: $color-black;
                vertical-align: -5%;
            }
        }
    }
}

.footer-information{
    @include height(10rem);
    @include gridLimitElements(3, 4, 1, 5);
    order: 3;  
    h2{
        @include textStyle(1.8rem, $color-titles, left, none);
        @include gridLimitElements(3, 4, 1, 2);
    }                       
}

.container-information div:nth-child(4){
    @include height(10rem);
    @include gridLimitElements(4, 5, 1, 5);
    order: 4; 
    h2{
        @include textStyle(1.8rem, $color-titles, left, none);
        @include gridLimitElements(4, 5, 1, 2);
    }
    ul{
        display: flex;
        gap: 1rem;
        li{
            list-style: $lists-style;
        }
    }
}

.copyright{
    background-color: $background-copyright;
    @include height(8vh);
    @include flex(none, none, center, center, none, none, none);
    h6{
        @include textStyle(1rem, $color-white, center, none);
    }
}



