/****************************** footer ******************************/

footer{
    background-color: $main-background;
}

.container-newsletter{
    @include dimensions(none,9rem);    
    @include grid(center,none,repeat(2, 30rem), 2rem 5rem,"recibi form" "suscribite form");
    p{
        @include gridAreaElements(recibi, left, none);
    }
    h2{
        @include gridAreaElements(suscribite, left, bolder);
        color: $color-main-text;
    }
}

.form{
    @include gridAreaElements(form, none, none);
    justify-content: center;
}

.container-information{
    @include dimensions(100%,12rem);
    @include grid(center, none, repeat(4,20rem), 5rem repeat(3,2rem), none);           
    .footer-taller{
        @include dimensions(100%,10rem); 
        @include gridLimitElements(1, 2, 1, 5, 1);
        h2{
            font-size: 1.8rem; 
            color: $color-main-text;
            @include gridLimitElements(1, 2, 1, 2, none);
        }                    
    }
    .footer-sale{
        @include dimensions(none,10rem);
        @include gridLimitElements(2, 3, 1, 5, 2);
        h2{
            font-size: 1.8rem; 
            color: $color-main-text;
            @include gridLimitElements(2, 3, 1, 2, none);
        }   
        .footer-sale-contact{
            list-style: $lists-style;
            padding-left: 0.1rem;
            li a{
                text-decoration: none;
                img{
                    @include dimensions(1.4rem, 1.4rem);
                }
                span{
                    color: black;
                    vertical-align: -5%;
                }
            }
        }                   
    }
    .footer-information{
        @include dimensions(none,10rem);
        @include gridLimitElements(3, 4, 1, 5, 3);
        h2{
            font-size: 1.8rem; 
            color: $color-main-text;
            @include gridLimitElements(3, 4, 1, 2, none);
        }                       
    }
    .footer-social-networks{
        @include dimensions(none,10rem);
        @include gridLimitElements(4, 5, 1, 5, 4);
        h2{
            font-size: 1.8rem; 
            color: $color-main-text;
            @include gridLimitElements(4, 5, 1, 2, none);
        }
        .footer-redes{
            @include flex(none, none, 1rem);
            li{
                list-style: $lists-style; 
            }
        }                     
    }
}

.copyright{
    background-color: $background-color-copyright;  
    @include dimensions(none, 8vh);
    @include flex(center, center, none); 
    h6{
        color: $color-text-copyright;
        text-align: center;
    }
}

