/****************************** header ******************************/

header{
    @include headerStyle(0px 3px 8px rgba(0, 0, 0, 0.323), sticky, 0, 2);
}

nav{
    background-color: $main-background;
}

svg{
    color: $color-black;
}

.nav-item a{
    @include textStyle(1rem, $color-black, none, none);
    text-decoration: none;
}

.nav-link, .dropdown-item, .nav-item a{
    &:hover{
        color: $color-titles !important;         
    }
}


