/****************************** nosotros.html ******************************/

.container-nosotros-title{
    @extend .container-taller-title;
}

.container-video{
    @include flex(row, none, center, center, 0, 0, 0);
    @include height(25rem);
    video{
        @include height(22rem);
    }
}

/*
.container-video video{
    height: 22rem;
} 
*/

.container-espacio{
    @include height(40rem);
    @include grid(center, none, repeat(2, 40rem), 5rem 10rem 12rem);
    @include padding(2rem, 0, 0, 0);
    img{
        @include width(30rem);
        @include height(34rem);
        @include gridLimitElements(2, 3, 1, 4);
        padding-left: 8rem;
    }
    h3{
        @include textStyle(3rem, $color-titles, none, none);
        @include gridLimitElements(1, 2, 1, 2);
    }
    h5{
        @include gridLimitElements(1, 2, 2, 3);
        @include textStyle(1.25rem, $color-subtitles, center, inherit);
    }
    h6{
        @include gridLimitElements(1, 2, 3, 4);
        @include textStyle(1.25rem, $color-subtitles, center, inherit);
    }
}

/*
.container-espacio{
    height: 40rem;
    display: grid;
    padding-top: 2rem;
    grid-template-columns: repeat(2, 40rem);
    grid-template-rows: 5rem 10rem 12rem;
}


.container-espacio img{
    width: 30rem;
    height: 34rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    padding-left: 8rem;

}

.container-espacio h3{
    font-size: 3rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    color: goldenrod;
}

.container-espacio h5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    font-weight: inherit;
    color: grey;
}

.container-espacio h6{
    font-size: 1.25rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    font-weight: inherit;
    color: grey;
}
*/


.container-unique{
    @include height(15rem);
}

.container-unique div:first-child{
    h2{
        /* .unique-title h2 */
        text-align: center;
        padding-right: 5rem;
    }
}

.container-unique div:nth-child(2){
    /* .container-elements */
    display: flex;
    padding-top: 1rem;
    gap: 5rem;
    div{
        /* .element */
        @include flex(column, none, center, center, 0, 0, 0);
        h6{
            @include textStyle(1rem, $color-subtitles, center, inherit);
        }
    }
}

/*

.unique-title h2{
    text-align: center;
    padding-right: 5rem;
}

.container-elements{
    display: flex;
    padding-top: 1rem;
    gap: 5rem;
}

.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.element h6{
    text-align: center;
    font-weight: inherit;
    color: grey; 
}

*/