/****************************** nosotros.html ******************************/

.container-nosotros-title{
    @extend .container-taller-title;
}

.container-video{
    @include flex(row, none, center, center, 0, 0, 0);
    @include height(25rem);
    video{
        @include height(22rem);
    }
}

.container-espacio{
    @include height(40rem);
    @include grid(center, none, repeat(2, 40rem), 5rem 10rem 12rem);
    @include padding(2rem, 0, 0, 0);
    img{
        @include width(30rem);
        @include height(34rem);
        @include gridLimitElements(2, 3, 1, 4);
        padding-left: 8rem;
    }
    h2{
        @include textStyle(3rem, $color-titles, none, none);
        @include gridLimitElements(1, 2, 1, 2);
    }
}

.container-espacio p:first-child{
    @include gridLimitElements(1, 2, 2, 3);
    @include textStyle(1.2rem, $color-subtitles, none, inherit);
}

.container-espacio p:nth-child(2){
    @include gridLimitElements(1, 2, 3, 4);
    @include textStyle(1.2rem, $color-subtitles, none, inherit);
}

.container-unique{
    @include height(15rem);
}

.container-unique div:first-child{
    h2{
        text-align: center;
        padding-right: 5rem;
    }
}

.container-unique div:nth-child(2){
    display: flex;
    padding-top: 1rem;
    gap: 5rem;
    div{
        @include flex(column, none, center, center, 0, 0, 0);
        h3{
            @include textStyle(1.5rem, black, center, inherit);
        }
        p{
            @include textStyle(1rem, $color-subtitles, center, inherit);
        }
    }
}

.container-unique div:nth-child(2) div:nth-child(2){
    margin-bottom: 1.9rem;
}

