/****************************** taller.html ******************************/

.container-taller-title{
    @include height(5.5rem);
    h1{
        @include textStyle(2.5rem, $color-titles, left, none);
    }
}

.container-dir{
    @include height(8rem);
    h3{
        color: $color-titles;
    }
    h5{
        @include textStyle(1.25rem, $color-subtitles, left, inherit);
    }
}

.container-maps{
    @include height(26rem);
    @include grid(none, none, repeat(2, 22rem), repeat(3,3rem) 12rem);
    grid-template-areas: 
    "map    location"
    "map    location"
    "map    location"
    "map    location";
}

.container-maps div:first-child{
    @include height(22rem);
    @include gridArea(map);
}

.container-maps div:nth-child(2){
    @include height(20rem);
    @include gridArea(location);
    @include flex(column, none, none, none, 0, 0, 0);
    margin-top: 1.5rem;
    a{
        color: $color-titles;
    }
    h5{
        @include textStyle(1.25rem, $color-subtitles, left, inherit);
    }
}

.whatsapp-ventas{
    font-size: 1.2rem; 
    text-decoration: none;
    img{
        @include width(2rem);
        @include height(2rem);
    }
    span{
        color: $color-titles;
        vertical-align: -8%;
    }
}
