/****************************** login.html ******************************/

.container-login-title{
    @extend .container-taller-title;
}

.container-formulario-login{
    display: flex;
    background-color: $color-white;
    @include height(31rem);
    @include width(70%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 0.5rem;
}

.imagen-login{
    padding: 2rem;
    img{
        @include width(18rem);
        margin-bottom: 3.8rem;
    }
}

.formulario-login{
    padding: 2rem 2rem;
    @include width(60%);
    @include flex(column, none, none, none, 0, 0, 0);
}

.formulario-login div:first-child{
    h2{
        @include textStyle(40px, $color-titles, center, none);
    }
    p{
        @include textStyle(20px, $color-subtitles, none, none);
    }
}

.formulario-login div:nth-child(2), .formulario-login div:nth-child(3){
    label{
        display: block;
        @include textStyle(22px, $color-titles, none, bold);
        margin: 8px 0;
    }
    input{
        @include width(100%);
        padding: 10px 16px;
        border-radius: 5px;
        outline: none;
    }
}

.formulario-login div:nth-child(4){
    a{
        @include textStyle(16px, $color-subtitles, none, none);
        display: inline-block;
        margin-top: 0.1px;
    }
    
}

.submit-login{
    @include width(12rem);
    background-color: $color-titles;
    border: 0;
    padding: 0.8rem;
    color: $color-white;
    border-radius: 5px;
    margin-top: 1.6rem;
    box-shadow: 0 0 10px rgb(235, 211, 151);
}

