/****************************** index.html ******************************/

main{
    font-family: 'Urbanist', sans-serif;
}

.carousel .carousel-indicators button{
    @include width(10px);
    @include height(10px);
    border-radius: 100%;                   /* Cambia linea horizontal de boton por circulo */
}

.d-item{
    @include height(490px);                                    /* Largo del contenedor de las imagenes del carousel principal */
    img{
        @include height(100%);
        object-fit: cover;
        filter: brightness(0.5);
    }
}

.carousel-content{
    margin-top: 7rem;
    p, button{
        color:  $color-titles;
    }
}

.container-main-subtitle{
    margin-top: 6rem;
    @include grid(center, none, 32rem 36rem, 4rem 6rem 4rem 5rem 4rem 6rem);
    grid-template-areas: 
    "imagen fst-title"
    "imagen fst-subtitle"
    "imagen snd-title"
    "imagen snd-subtitle"
    "imagen thr-title"
    "imagen thr-subtitle";
}

.container-main-subtitle div:first-child{
    @include gridArea(fst-title);
    h2{
        @include textStyle(2.2rem, $color-titles, none, none);
    }
}

.container-main-subtitle div:nth-child(2){
    @include gridArea(fst-subtitle);
    h3{
        @include textStyle(1.2rem, $color-subtitles, none, inherit);
        padding-left: 0.8rem;
    }
}

.container-main-subtitle div:nth-child(3){
    @include gridArea(snd-title);
    h2{
        @include textStyle(2.2rem, $color-titles, none, none);
    }
}

.container-main-subtitle div:nth-child(4){
    @include gridArea(snd-subtitle);
    h3{
        @include textStyle(1.2rem, $color-subtitles, none, inherit);
        padding-left: 0.8rem;
    }
}

.container-main-subtitle div:nth-child(5){
    @include gridArea(thr-title);
    h2{
        @include textStyle(2.2rem, $color-titles, none, none);
    }
}

.container-main-subtitle div:nth-child(6){
    @include gridArea(thr-subtitle);
    h3{
        @include textStyle(1.2rem, $color-subtitles, none, inherit);
        padding-left: 0.8rem;
    }
}

.container-main-subtitle div:nth-child(7){
    @include gridArea(imagen);
    img{
        @include width(26rem);
        @include height(26rem);
        border-radius: 100%;
        border-left: 0.5rem;
    }
}

.container-sponsors {
    @include height(7rem);
    @include flex(row, none, center, none, 0, 5.5rem, 0);
    list-style: $lists-style;
    margin-top: 4.5rem;
}

.cursos-elegidos{
    @include height(3rem);
    h3{
        @include textStyle(1.75rem, $color-titles, center, inherit);
    }
}

.container-cards{
    @include width(100%);
    @include height(31rem);
    @include flex(row, wrap, center, none, 0, 0, 0);
}

.card{
    background-color: $main-background;
    @include width(20rem);
    @include height(28rem);
    border-radius: 5%;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1.2rem;
    text-align: center;
    transition: all 0.25s;
    @include flex(none, none, center, center, 0, 0, 0);
    &:hover{
        transform: translateY(-1.6rem);
        box-shadow: rgba(0, 0, 0, 0.2);
    }
    img{
        @include width(12rem);
        @include height(15rem);
        border-radius: 7%;
    }
    h4{
        @include textStyle(1.5rem, $color-black, none, 500);
        padding-top: 0.6rem;
    }
    h5{
        @include textStyle(1rem, $color-black, none, 200);
    }
    p{
        padding-top: 0.1rem;
        @include textStyle(1.6rem, $color-black, none, 250);
    }
}

.button-tienda-position{
    @include flex(row, none, center, center, 0, 0, 0);
}

.exclusive{
    @include width(100vw);
    @include height(34rem);
    display: flex;
    align-items: center; 
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../assets/img/index/main/exclusive-1.jpg"); 
    @include backgroundStyle(center, cover, no-repeat);
    div{
        h5{
            color: $color-titles;
        }
        h3, h6{
            color: $color-white;
        }
        h4{
            color: $color-gold;
        }
    }
}


