/****************************** promociones.html ******************************/

.container-promo-title{
    @extend .container-taller-title;
}

.card p span{
    @include textStyle(1.36rem, red, none, 600);
    text-decoration: line-through;
    @include padding(0, 0, 0.3rem, 0);
}

.container-sort{
    @include height(3.5rem);
    li{
        list-style: $lists-style;
        a{
            padding-top: 0.7rem;
        }
    }
}
