/****************************** capacitaciones-presenciales.html, herramientas.html e insumos.html ******************************/

.container-cap-presencial-title h1{
    font-size: 1.6rem;
    color: $color-titles;
}

.container-cards-tienda{
    @include width(940px);
    @include grid(center, center, repeat(3,1fr), none);
    gap: 1.8rem;
    margin: auto; 
    margin-bottom: 3rem; 
}

.card-tienda{
    @include height(18rem);
    @include width(300px);
    @include padding(0.5rem, 0.5rem, 3rem, 3rem);
    overflow: hidden;
    margin: auto;
    border-radius: 2%;
    border: 1px solid #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
    text-align: center;
    background: linear-gradient(360deg, #E7A977, #EBBE9B);
    &:hover{
        @include height(32rem);
        @include width(300px);
        border-radius: 5px;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    }
}

.card-tienda div:first-child{
    img{
        @include height(195px);
        @include width(195px);
        position: relative;
        border-radius: 50%;
        display: block;                         /* ocupa todo el espacio disponible */ 
        border-top: 1px solid $color-black;
        border-bottom: 1px solid $color-black;
        object-fit: cover;                      /* la imagen se adapta a las medidas que se le pasan */ 
        margin: 20% auto;
        transition: all 0.3s ease;
    }
}

.card-tienda div:nth-child(2){
    /* iconos */
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
    list-style: none;
    li{
        @include height(40px);
        @include width(40px);
        background-color: $color-white;
        border-radius: 50%;
        margin: 0 5px;
        line-height: 40px;
        text-align: center;
        transform: scale(0);                   /* inicialmente no se ven */ 
        transition: all 0.5s ease;
        a{
            @include width(100%);
            @include height(100%);
            background: #fff;
            color:  #e6995f;
            border-radius: 50%;
            display: block;
            line-height: 40px;
            transition: all 0.3s;
            &:hover{
                transform: scale(1.1);
                box-shadow: 0 0 10px #e6995f;
            }
        }
    }
}

.card-tienda div:nth-child(2) li:first-child{
    @include transitionDelay(0.2s);
}

.card-tienda div:nth-child(2) li:nth-child(2){
    @include transitionDelay(0.3s);
}

.card-tienda div:nth-child(2) li:nth-child(3){
    @include transitionDelay(0.4s);
}

.desplazar{
    @include animation(0, translateY(-45px), all .5s ease);
}

.agrandar{
    @include animation(0, scale(0), all .4s none);
}

.card-tienda:hover .agrandar{
    @include animation(1, scale(1), none);
}

.card-tienda:hover .desplazar{
    @include animation(1, translateY(0px), none);
}


.card-tienda div:nth-child(3){
    /* contenido */
    h4{
        font-size: 20px;
        padding: 10px;
        line-height: 25px;
        color: $color-black;
        @include transitionDelay(0.1s);
    }
    h3{
        @include textStyle(22px, $color-black, none, bold);
        @include transitionDelay(0.2s);
    }
    p{
        margin: 15px 0;
        color: $color-black;
        @include transitionDelay(0.4s);
    }
}
