@media(max-width:424px){
    /* 375px a 424px (Mobile M) */

    /****************************** footer ******************************/
    
    .container-newsletter{
        @include height(17rem);
        @include grid(center, none, 18rem, repeat(4,4rem));
        h2{
            font-size: 1.6rem 
        }
    }

    /****************************** index.html ******************************/
    
    .container-main-subtitle{
        grid-template-rows: 3rem 8rem 3rem 7rem 5rem 9rem; 
        grid-template-columns: 22rem;
    }

    .container-main-subtitle div:nth-child(7){
        img{
            margin-left: 1.1rem;
        }
    }
    
    .sponsors{
        @include height(18rem);
        grid-template-columns: repeat(2,9.8rem);
    }

    .sponsors li:nth-child(5){
        a{
            padding-left: 5.9rem;
        }
    }

    .cursos-elegidos{
        @include height(4rem);
        h3{
            font-size: 1.6rem;
        }
    }
    
    /****************************** nosotros.html ******************************/

    .container-espacio{
        @include height(64rem);
        @include grid(none, none, 20rem, 5rem 12rem 21rem 22rem);
        padding-top: 0.5rem;
        img{
            @include width(18rem);
            @include height(22rem);
            @include padding(0, 1rem, 0.5rem, 0);
            justify-self: center;
        }
    }
    
    .container-unique div:nth-child(2){
        column-gap: 1.7rem; 
        row-gap: 2rem;
    }

    /****************************** taller.html ******************************/

    /* Mantiene la configuracion de Mobile L */

    /****************************** capacitaciones-presenciales.html, herramientas.html e insumos.html ******************************/
    
    .container-cards-tienda{
        @include width(300px);
    }
}
