@media(max-width:374px){
    /* 320px a 374px (Mobile S) */

    /****************************** index.html ******************************/
    
    .container-main-subtitle{
        grid-template-rows: 5rem 10rem 3rem 7rem 6rem 8rem; 
        grid-template-columns: 18rem;
    }

    .container-main-subtitle div:nth-child(7){
        img{
            @include width(16rem);
            @include height(16rem);
        }
    }

    .container-sponsors{
        padding-right: 1.8rem;
        grid-template-columns: repeat(2,9.3rem);
    }

    /****************************** nosotros.html ******************************/

    .container-nosotros-title h1{
        font-size: 2rem;
    }
    
    .container-espacio{
        @include height(68rem);
        @include grid(none, none, 18rem, 5rem 15rem 22rem 22rem);
    }
    
    .container-unique{
        @include height(52rem);
    }
    
    .container-unique div:nth-child(2){
        @include grid(center, none, 10rem, 4rem 3rem 2rem 4rem 3rem 2rem 4rem 3rem 2rem 4rem 3rem 2rem); 
        padding-top: 1rem;
        row-gap: 1rem;
    }
    
    .container-unique div:nth-child(2) div:first-child{
        margin-bottom: 0.01rem;
        order: 1;
    }
    
    .container-unique div:nth-child(2) div:nth-child(2){
        @include gridLimitElements(1, 2, 4, 7);
        margin-bottom: 1rem;
        order: 2;
        img{
            @include gridLimitElements(1, 2, 4, 5);
        }
        h4{
            @include gridLimitElements(1, 2, 5, 6);
        }
        h6{
            @include gridLimitElements(1, 2, 6, 7);
        }
    }
    
    .container-unique div:nth-child(2) div:nth-child(3){
        @include gridLimitElements(1, 2, 7, 10);
        margin-top: 0.5rem;
        order: 3;
        img{
            @include gridLimitElements(1, 2, 7, 8);
        }
        h4{
            @include gridLimitElements(1, 2, 8, 9);
        }
        h6{
            @include gridLimitElements(1, 2, 9, 10);
        }
    }
    
    .container-unique div:nth-child(2) div:nth-child(4){
        @include gridLimitElements(1, 2, 10, 13);
        margin-bottom: 0.01rem;
        order: 4;
        img{
            @include gridLimitElements(1, 2, 10, 11);
        }
        h4{
            @include gridLimitElements(1, 2, 11, 12);
        }
        h6{
            @include gridLimitElements(1, 2, 12, 13);
        }
    }

    /****************************** taller.html ******************************/

    .container-maps{
        @include height(38rem);
        @include grid(none, none, 18.4rem, repeat(3,3rem) 12rem repeat(3,3rem) 10rem);
        grid-template-areas: 
        "map"
        "map"
        "map"
        "map"
        "location"
        "location"
        "location"
        "location";
    }

    iframe{
        @include width(16rem);
        @include height(20rem);
    }
}

