@media(max-width:424px){
    /* 375px a 424px (Mobile M) */

    /****************************** footer ******************************/
    
    .container-newsletter{
        @include height(17rem);
        @include grid(center, none, 18rem, repeat(4,4rem));
        h2{
            font-size: 1.6rem 
        }
    }
    
    /*

    .container-newsletter{
        height: 17rem;
        display: grid;
        grid-template-columns: 18rem;
        grid-template-rows: repeat(4,4rem);
    }

    */

    /****************************** taller.html ******************************/

    /* nothing to do */



    /****************************** nosotros.html ******************************/

    .container-espacio{
        @include height(62rem);
        @include grid(none, none, 20rem, 5rem 12rem 19rem 22rem);
        padding-top: 0.5rem;
        img{
            @include width(18rem);
            @include height(22rem);
            @include padding(0, 1rem, 0.5rem, 0);
            justify-self: center;
        }
    }

    /*
    
    .container-espacio{
        padding-top: 0.5rem;
        height: 62rem;
        display: grid;
        grid-template-columns: 20rem;
        grid-template-rows: 5rem 12rem 19rem 22rem;
    }

    .container-espacio img{
        width: 18rem;
        height: 22rem;
        padding-left: 0.5rem;
        justify-self: center;
        padding-bottom: 1rem;
    }
    */

    .container-unique div:nth-child(2){
        /* .container-elements */
        column-gap: 1.7rem; 
        row-gap: 2rem;
    }
    
    /*
    .container-elements{
        column-gap: 1.8rem; 
        row-gap: 2rem;
    }
    */

    /****************************** index.html ******************************/

    /**** subtitulo principal con imagen con borde redondo ****/ 

    .container-main-subtitle{
        grid-template-rows: 3rem 8rem 3rem 7rem 5rem 5rem; 
        grid-template-columns: 22rem;
    }

    /**** sponsors ****/

    .container-sponsors{
        grid-template-columns: repeat(2,9.8rem);
    }

    .container-sponsors li:nth-child(5){
        a{
            /* .callebaut */
            padding-left: 5.9rem;
        }
    }




}