@media(max-width:1023px){
    /* 768px a 1023px (Tablet) */

    /****************************** footer ******************************/

    .container-newsletter{
        @include height(13rem);
        @include margin(0.5rem, 0, 0, 0);
        @include grid(center, none, 29rem, 2rem 3rem 2rem 3rem);
        grid-template-areas: 
        "recibi"
        "suscribite"
        "form"
        "form"; 
        p{
            @include gridArea(recibi);                               
            text-align: center;
        }
        h2{
            @include gridArea(suscribite);  
            text-align: center;                       
        }
        div{
            @include gridArea(form);                                
        }
    }
    
    .container-information{
        @include width(100%);
        @include height(22rem);
        @include grid(center, none, 22rem 16rem, 5rem repeat(3, 2rem) 5rem repeat(3, 2rem));
    }
    
    .container-information div:first-child{
        @include gridLimitElements(1, 2, 1, 5);
        order: 1;     
        h2{
            @include gridLimitElements(1, 2, 1, 2);
        }
        h6:first-child{
            @include gridLimitElements(1, 2, 2, 3);  
        }
        h6:nth-child(2){
            @include gridLimitElements(1, 2, 3, 4);  
        }
        h6:nth-child(3){
            @include gridLimitElements(1, 2, 4, 5);  
        }
    }
    
    .container-information div:nth-child(2){
        @include gridLimitElements(2, 3, 1, 5);
        order: 2;
        h2{
            @include gridLimitElements(2, 3, 1, 2);
        }
    }
    
    .footer-information{
        @include gridLimitElements(1, 2, 5, 9);
        order: 3;  
        h2{
            @include gridLimitElements(1, 2, 5, 6);
        }                       
    }

    .footer-information h6:first-child{
        @include gridLimitElements(1, 2, 6, 7);
    }

    .footer-information h6:nth-child(2){
        @include gridLimitElements(1, 2, 7, 8);
    }

    .footer-information h6:nth-child(3){
        @include gridLimitElements(1, 2, 8, 9);
    }
    
    .container-information div:nth-child(4){
        @include gridLimitElements(2, 3, 5, 9);
        order: 4; 
        h2{
            @include gridLimitElements(2, 3, 5, 6);
        }
    }

    /****************************** index.html ******************************/
    
    .container-main-subtitle{
        margin-top: 6rem;
        @include grid(center, none, 20rem 26rem, 5rem 7rem 4rem 6rem 6rem 9rem);
        grid-template-areas: 
        "imagen fst-title"
        "imagen fst-subtitle"
        "imagen snd-title"
        "imagen snd-subtitle"
        "imagen thr-title"
        "imagen thr-subtitle";
    }

    .container-main-subtitle div:first-child{
        h2{
            font-size: 2rem;
        }
    }
    
    .container-main-subtitle div:nth-child(2){
        h3{
            font-size: 1.2rem;
            padding-left: 0.2rem;
        }
    }
    
    .container-main-subtitle div:nth-child(3){
        h2{
            font-size: 2rem;
        }
    }
    
    .container-main-subtitle div:nth-child(4){
        h3{
            font-size: 1.2rem;
            padding-left: 0.2rem;
        }
    }
    
    .container-main-subtitle div:nth-child(5){
        h2{
            font-size: 2rem;
        }
    }
    
    .container-main-subtitle div:nth-child(6){
        h3{
            font-size: 1.2rem;
            padding-left: 0.2rem;
        }
    }
    
    .container-main-subtitle div:nth-child(7){
        img{
            @include width(19rem);
            @include height(19rem);
            border-left: 0.5rem;
            margin-top: 5rem;
        }
    }
    
    .sponsors {
        column-gap: 1.7rem;
    }
    
    .container-cards{
        @include width(100%);
        @include height(31rem);
        @include flex(none, wrap, center, none, 0, 0, 0);
    }
    
    .card{
        @include width(12rem);
        @include height(28rem);
        img{
            @include width(9rem);
        }
        h4{
            font-size: 0.9rem;
        }
    }
    
    /****************************** nosotros.html ******************************/

    .container-espacio{
        @include height(38rem);
        @include grid(none, none, 24rem 21rem, 5rem 11rem 15rem);
        img{
            @include width(20rem);
            @include height(24rem);
            @include padding(3rem, 0, 1rem, 0);
            align-self: center;
        }
    }
    
    .container-unique div:first-child{
        h2{
            padding-right: 0.01rem;
        }
    }
    
    .container-unique div:nth-child(2) div:first-child{
        margin-bottom: 5rem;
    }

    .container-unique div:nth-child(2) div:nth-child(2){
        margin-bottom: 7rem;
    }

    .container-unique div:nth-child(2) div:nth-child(3){
        margin-bottom: 3.5rem;
    }

    /****************************** taller.html ******************************/

    /* Mantiene la mediaquerie de Desktop (1024px) */

    /****************************** capacitaciones-presenciales.html, herramientas.html e insumos.html ******************************/

    .container-cards-tienda{
        @include width(500px);
        grid-template-columns: 1fr; 
        gap: 1.5rem;
    }
}