@media(max-width:767px){
    /* 425px a 767px (Mobile L) */

    /****************************** footer ******************************/
    
    .container-newsletter{
        @include height(14rem);
        @include grid(center, none, 25rem, 2rem 6rem 2rem 3rem);
        grid-template-areas: 
        "recibi"
        "suscribite"
        "form"
        "form"; 
    }
    
    .container-information{
        @include width(100%);
        @include height(40rem);
        @include grid(center, none, 19rem, 5rem repeat(3, 2rem) 5rem repeat(3, 2rem) 5rem repeat(3, 2rem) 5rem repeat(3, 2rem));
    }
    
    .container-information div:first-child{
        h2{
            text-align: center;
        }
        h6:first-child, h6:nth-child(2), h6:nth-child(3), h6:nth-child(4){
            text-align: center;  
        }
    }
    
    .container-information div:nth-child(2){
        @include gridLimitElements(1, 2, 5, 9);
        order: 2;
        h2{
            text-align: center;
            @include gridLimitElements(1, 2, 5, 6);
        }
        ul{
            @include width(18rem);
            justify-content: center;
            align-items: center; 
            @include padding(none, none, 3.7rem, none);
        }
    }
    
    .footer-information{
        @include gridLimitElements(1, 2, 9, 13);
        order: 3;  
        h2{
            text-align: center;
            @include gridLimitElements(1, 2, 9, 10);
        }                       
    }

    .footer-information h6:first-child{
        text-align: center;
        @include gridLimitElements(1, 2, 10, 11);
    }

    .footer-information h6:nth-child(2){
        text-align: center;
        @include gridLimitElements(1, 2, 11, 12);
    }

    .footer-information h6:nth-child(3){
        text-align: center;
        @include gridLimitElements(1, 2, 12, 13);
    }

    .footer-information h6:nth-child(4){
        text-align: center;
    }
    
    .container-information div:nth-child(4){
        @include gridLimitElements(1, 2, 13, 17);
        order: 4; 
        h2{
            text-align: center;
            @include gridLimitElements(1, 2, 13, 14);
        }
        ul{
            justify-content: center;
            align-items: center;
            @include padding(0, 0, 0.4rem, 0);
        }
    }

    /****************************** index.html ******************************/

    .container-main-subtitle{
        @include height(57rem);
        margin-top: 3rem;
        @include grid(center, none, 24rem, 3rem 8rem 3rem 6rem 3rem 10rem);
        grid-template-areas: 
            "fst-title"
            "fst-subtitle"
            "snd-title"
            "snd-subtitle"
            "thr-title"
            "thr-subtitle"
            "imagen";
    }
    
    .container-main-subtitle div:first-child{
        h2{
            font-size: 1.6rem;
        }
    }
    
    .container-main-subtitle div:nth-child(3){
        h2{
            font-size: 1.6rem;
        }
    }
    
    .container-main-subtitle div:nth-child(5){
        h2{
            font-size: 1.6rem;
        }
    }
    
    .container-main-subtitle div:nth-child(7){
        img{
            @include width(19rem);
            @include height(19rem);
            margin-top: 1.6rem;
            margin-left: 2rem;
        }
    }
    
    .sponsors{
        @include height(20rem);
        list-style: $lists-style;
        @include grid(center, center, repeat(2,10rem), repeat(3,5.5rem));
        column-gap: 1.1rem;
        margin-top: 0.5rem;
        padding-left: 3rem;
    }

    .sponsors li:nth-child(5){
        a{
            padding-left: 6.2rem;
        }
    }
    
    .container-cards{
        @include width(100%);
        @include height(95rem);
        @include flex(none, wrap, center, none, 0, 0, 0);
    }

    .card{
        @include width(20rem);
        @include height(28rem);
        margin: 1.2rem;
        img{
            @include width(12rem);
            @include height(15rem);
        }
        h4{
            font-size: 1.4rem;
        }
        p{
            font-size: 1.6rem;
        }
    }
    
    .exclusive{
        @include width(100%);
    }
    
    /****************************** nosotros.html ******************************/

    .container-video{
        @include width(100%);
        @include height(20rem);
        video{
            @include height(22rem);
            @include width(90vw);
        }
    }
    
    .container-espacio{
        @include height(66rem);
        @include grid(none, none, 22rem, 5rem 10rem 18rem 25rem);
        img{
            @include width(22rem);
            @include height(26rem);
            @include gridLimitElements(1, 2, 4, 5);
            padding-left: 1rem;
        }
        h3, h5, h6{
            text-align: center;
        }
    }
    
    .container-unique{
        @include height(35rem);
    }
    
    .container-unique div:nth-child(2){
        @include grid(none, none, repeat(2,10rem), 4rem 3rem 2rem 4rem 3rem 2rem);
        padding-top: 1rem;
        column-gap: 2.4rem; 
        row-gap: 2rem;
    }
    
    .container-unique div:nth-child(2) div:first-child{
        @include gridLimitElements(1, 2, 1, 4);
        margin-bottom: 0.8rem;
        order: 1;
        img{
            @include gridLimitElements(1, 2, 1, 2);
            justify-self: center;
        }
        h4{
            @include gridLimitElements(1, 2, 2, 3);
        }
        h6{
            @include gridLimitElements(1, 2, 3, 4);
        }
    }
    
    .container-unique div:nth-child(2) div:nth-child(2){
        @include gridLimitElements(2, 3, 1, 4);
        margin-bottom: 1.2rem;
        order: 2;
        img{
            @include gridLimitElements(2, 3, 1, 2);
            justify-self: center;
        }
        h4{
            @include gridLimitElements(2, 3, 2, 3);
        }
        h6{
            @include gridLimitElements(2, 3, 3, 4);
        }
    }
    
    .container-unique div:nth-child(2) div:nth-child(3){
        @include gridLimitElements(1, 2, 4, 7);
        margin-bottom: 1.3rem;
        order: 3;
        img{
            @include gridLimitElements(1, 2, 4, 5);
            justify-self: center;
        }
        h4{
            @include gridLimitElements(1, 2, 5, 6);
        }
        h6{
            @include gridLimitElements(1, 2, 6, 7);
        }
    }
    
    .container-unique div:nth-child(2) div:nth-child(4){
        @include gridLimitElements(2, 3, 4, 7);
        order: 4;
        img{
            @include gridLimitElements(2, 3, 4, 5);
            justify-self: center;
        }
        h4{
            @include gridLimitElements(2, 3, 5, 6);
        }
        h6{
            @include gridLimitElements(1, 2, 6, 7);
        }
    }

    /****************************** taller.html ******************************/
    
    .container-maps{
        @include height(38rem);
        @include grid(none, none, 22rem, repeat(3,3rem) 12rem repeat(3,3rem) 12rem);
        grid-template-areas: 
        "map"
        "map"
        "map"
        "map"
        "location"
        "location"
        "location"
        "location";
    }

    /****************************** capacitaciones-presenciales.html, herramientas.html e insumos.html ******************************/
    
    .container-herramientas-title{
        h1{
            font-size: 1.4rem;
        }
    }

    .container-insumos-title{
        @extend .container-herramientas-title;
    }

    .container-cards-tienda{
        @include width(400px);
    }

    /**** error404 ****/ 

    .container-error{
        img{
            @include width(350px);
            @include height(350px);
        }
        h1{
            padding-left: 13px;
            font-size: 18px;
            text-align: center;
        }
    }

    /****************************** login.html ******************************/
    
    .container-formulario-login{
        @include height(33rem);
        @include width(90%);
    }
}